@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  color: #1e1e1e;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin: 0 20px;
  margin-bottom: 100px;
}

.header-mobile {
  display: none;
}

.menu {
  display: flex;
  list-style: none;
  gap: 2.5rem;
}

.menu a {
  text-decoration: none;
  font-size: 16px;
  color: #1e1e1e;
  transition: 0.3s;
}

.menu a::after {
  content: "";
  width: auto;
  height: 3px;
  margin-top: 5px;
  transition: 0.3s ease-in-out;
}

.menu a:hover,
.menu a:focus {
  color: #b1404b;
}
.menu a:hover::after,
.menu a:focus::after {
  display: block;
  background-color: #b1404b;
}

.conteudo-principal {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 20px;
}

.img-perfumes-mobile {
  display: none;
}

.main-texto {
  display: grid;
  gap: 20px;
  margin-bottom: 130px;
}

.main-texto h1 {
  font-size: 40px;
}

.main-texto p {
  font-size: 16px;
}

.btn-bem-vindo {
  border: none;
  border: 1px solid #000;
  background-color: #fff;
  width: 200px;
  height: 40px;
  cursor: pointer;
  transition: 0.1s;
}
.btn-bem-vindo span {
  text-align: center;
}

.btn-bem-vindo:hover span,
.btn-bem-vindo:focus span {
  display: inline-block;
  -webkit-transform: rotateZ(30deg);
  -ms-transform: rotateZ(30deg);
  transform: rotateZ(30deg);
}

.btn-bem-vindo:hover,
.btn-bem-vindo:focus {
  outline: none;
  border: 2px solid #6a6a6a;
}

.btn-primario {
  border: none;
  width: 180px;
  height: 40px;
  background-color: #b1404b;
  color: #fff;
  font-size: 17px;
  font-weight: 500;
  cursor: pointer;
  box-shadow: 0px 4px 12px rgba(61, 56, 56, 0.16),
    0px 6px 40px rgba(50, 50, 50, 0.15), inset 0px 0px 16px rgba(0, 0, 0, 0.05);
  margin-bottom: 40px;
  transition: 0.3s all ease-in-out;
}

.btn-primario:hover,
.btn-primario:focus {
  background-color: #c84755;
}

.mais-informacoes {
  background-color: #fff;
  display: flex;
  padding: 40px 50px;
  box-shadow: 0px 4px 12px rgba(61, 56, 56, 0.16),
    0px 6px 40px rgba(50, 50, 50, 0.15), inset 0px 0px 16px rgba(0, 0, 0, 0.05);
  margin-bottom: 100px;
}

.info-img {
  width: auto;
}

.info-img img {
  background-color: #fff;
  padding: 20px;
  box-shadow: 0px 4px 12px rgba(61, 56, 56, 0.16),
    0px 6px 40px rgba(50, 50, 50, 0.15), inset 0px 0px 16px rgba(0, 0, 0, 0.05);
  width: 60px;
  height: 60px;
}

.info-item {
  display: flex;
  gap: 20px;
}

.info-item-texto h2 {
  font-size: 24px;
}

.info-item-texto p {
  font-size: 12px;
}

/*Responsive*/
@media (max-width: 1200px) {
  .header {
    display: none;
  }
  .header-mobile {
    display: block;
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
    padding: 20px;
  }

  .conteudo-principal {
    grid-template-columns: 1fr;
  }

  .img-perfumes {
    display: none;
  }

  .mais-informacoes {
    display: flex;
    gap: 1rem;
    margin: 20px;
  }

  .img-perfumes-mobile {
    display: block;
    text-align: center;
  }

  .img-perfil {
    margin-bottom: 0;
  }

  .info-item {
    width: 100%;
  }

  .info-item-texto {
    text-align: center;
  }
}

@media (max-width: 900px) {
  .mais-informacoes {
    flex-direction: column;
  }

  .info-item {
    justify-content: center;
  }

  .info-item-texto {
    text-align: left;
  }

  .info-item-texto h2 span {
    position: relative;
  }

  .info-item-texto h2 span::before {
    display: block;
    content: "";
    background-color: #b1404b;
    width: 20px;
    height: 3px;
    top: 28px;
    left: 0;
    position: absolute;
  }

  .info-item-texto h2 {
    margin-bottom: 10px;
  }
}

@media (max-width: 500px) {
  .btn-primario {
    width: 100%;
  }

  .img-perfil {
    text-align: center;
  }

  .img-perfumes-mobile img {
    width: 100%;
  }

  .info-item {
    flex-direction: column;
  }

  .mais-informacoes {
    text-align: center;
  }

  .info-item-texto {
    text-align: center;
  }
}
